<h1>
  Anna Banana Art & Crafts Gallery
</h1>

<nav>

  <ul>

    <li>
      <a routerLink="/digital-art" routerLinkActive="active">
        Digital Art
      </a>
    </li>

    <li>
      <a routerLink="/embroidery" routerLinkActive="active">
        Embroidery
      </a>
    </li>

    <li>
      <a routerLink="/sewing" routerLinkActive="active">
        Sewing
      </a>
    </li>

    <li>
      <a routerLink="/contact" routerLinkActive="active">
        Contact
      </a>
    </li>

  </ul>

</nav>

<router-outlet></router-outlet>
