<p>
  Drawing another world.
</p>

<p>
  Sewing a new reality.
</p>

<p>
  Embroidering the fabric of our planet.
</p>

<h2>
  About the Artist
</h2>

<p>
  Hello! I am Anna. I'm a 25 year old Canadian who started drawing around the age of 13. I bought my first drawing tablet
  when I was 15, and since then have been practicing digital art on and off over the years. In the year of 2021, I took
  up embroidery, and then in 2022 I have started sewing.
</p>

<p>
  I hope that you enjoy my work, and have a great day wherever you may be!
</p>

<h2>
  Contact me for commissions & questions
</h2>

<p>
  Name
</p>

<input type="text">

<p>
  Email
</p>

<input type="text">

<p>
  Message
</p>

<input type="text">
